<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <title>CompanyName - PageName</title>
    <meta http-equiv="Content-Language" content=""/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta name="MSSmartTagsPreventParsing" content="true"/>
    <meta name="description" content="Description"/>
    <meta name="keywords" content="Keywords"/>
    <meta name="author" content="Enlighten Designs"/>
    <style type="text/css" media="all">@import "../css/master.css";</style>
</head>
<body>
<div id="page-container">
    <div id="top">
        <div style="float:left;">联系电话：136111232323</div>
        <ul>
            <li><a href=" ">注册</a></li>
            <li><a href="Userlogin">登录</a></li>
        </ul>
    </div>
    <div id="second"></div>
    <div id="middle">{{ middle }}</div>
    <div id="middle1">
        <ul>
            <li><a href=" ">首页</a></li>
            <li><a href=" ">添加凭证</a></li>
            <li><a href=" ">财务报表</a></li>
            <li><a href=" ">表单查询</a></li>
            <li><a href=" ">删除查询</a></li>
            <li><a href=" ">修改表单</a></li>
        </ul>
    </div>
    <div id="footer">footer</div>
</div>
</body>
</html>
