{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/headers/favicon.ico' %}">

    <title>首页</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/content.css' %}" rel="stylesheet">
</head>

<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">欢迎使用</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if request.user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!--已登陆状态-->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index/">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">{{ request.session.user }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/logout/">退出</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{% url 'courses:selectorder' %}">表单查询</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{% url 'courses:sumbitorder' 0 %}">添加表单</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        {% else %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!--未登陆状态-->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index/">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/">登陆</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/register/">注册</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link disabled" href="/courses/selectorder/">表单查询</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link disabled" href="{% url 'courses:sumbitorder' 0 %}">添加表单</a>#}
{#                </li>#}
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        {% endif %}
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <h1 class="mt-5">本网站作者:yxin</h1>
    <p class="lead"> 1.网站搭建环境:centos7.4,同时使用了python的django框架+mysql数据库;
         <br/>2.所有的前端页面及静态文件包括（css,js,image)来自bootstrap官网;
         <br/>3.通过nginx+uwsgi对外发布;
        <br/>4.前台主要功能包括对订单的增加、删除、修改、时间查询、注册、登陆等功能;
        <br/>5.后台管理使用的xadmin.
    <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
    <h6>{{ middle }}</h6>

</main>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>